body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header h1 {
    text-align: center;
    margin: 20px 0;
}

.disclaimer-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.disclaimer {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.example-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.example-button:hover {
    background-color: #0056b3;
}

.example-content {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 5px;
    display: none;
}

.search-container {
    text-align: center;
    padding: 20px;
}

#search-bar {
    width: 50%;
    padding: 10px;
    font-size: 16px;
}

.rules-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: calc(100vh - 40px); 
    padding-bottom: 20px; 
    box-sizing: border-box; 
    overflow-y: auto; 
}

#rules-list {
    list-style: none;
    padding: 0 10px; 
    width: 60%; 
    max-height: 100%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
}

.rule-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column; 
}

.rule-text {
    display: flex;
    align-items: flex-start; 
    gap: 4px; 
}

.severity-indicator {
    height: 15px; 
    width: 15px;  
    min-width: 15px; 
    min-height: 15px; 
    max-width: 15px; 
    max-height: 15px; 
    display: inline-block;
    margin-right: 5px;
    border-radius: 2px;
    flex-shrink: 0; 
    flex-grow: 0; 
}

.green {
    background-color: #00FF00;
}

.orange {
    background-color: #FFA500;
}

.red {
    background-color: #FF0000;
}

.punishment-content {
    margin-top: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
}

.legend {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
}

.rules-container li a {
    color: #007bff;
    text-decoration: none;
}

.rules-container li a:hover {
    text-decoration: underline;
}